.statistic-figures {
    font-weight: bold;
    font-size: 2em;
}

.statistic-figures-list span{
    font-weight: normal;
    width: 100%;
    display: block;
}

.statistic .well {
    margin: 0 5%;
}

.statistic > div{
    margin-bottom: 25px;
}

.chart {
    height: 400px;
}

.errorContainer {
    display: none;
}

.haveError {
    display: block;
}

.chart > img {
    display: block;
    width: 128px;
    height: 128px;
    margin: 136px auto 0;
}