<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashbord</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container theme-showcase" role="main">
    <h1>Dashbord</h1>
    <div class="container">
        <div class="row errorContainer{% if isExistTable == false %} haveError{% endif %}">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Please generate date
                </div>
           </div>
       </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Statistic</h2>
           </div>
       </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <p>From</p>
                    <div class='input-group date' id='datetimepickerFrom'>
                        <input type='text' class="form-control" value="{{ from }}"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <p>To</p>
                    <div class='input-group date' id='datetimepickerTo'>
                        <input type='text' class="form-control" value="{{ to }}"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <p>&nbsp;</p>
                <button type="button" class="btn btn-primary" id="generate">Generate fake data</button>
            </div>
        </div>
        <div class="row statistic">
            <div class="col-md-3">
                <div class="well">
                    <h3 class="text-center">Total number of orders</h3>
                    <p class="text-center statistic-figures loadajax" id="total_orders">{{ data.total_orders }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h3 class="text-center">Total number of revenue</h3>
                    <p class="text-center statistic-figures loadajax" id="total_revenue">{{ data.total_revenue }} €</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h3 class="text-center">Total number of customers</h3>
                    <p class="text-center statistic-figures loadajax" id="total_customer">{{ data.total_customer }}</p>
                </div>
            </div>
            <div class="col-md-3"> &nbsp; </div>
        </div>
        <div class="row statistic">
            <div class="col-md-3">
                <div class="well">
                    <h3 class="text-center">Top 10 customers</h3>
                    <p class="text-center statistic-figures-list loadajax" id="top_customer">
                        {% for key, customer in data.top_customer %}
                        <span>{{ key+1 }}. {{ customer|e }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h3 class="text-center">Top 10 selling items</h3>
                    <p class="text-center statistic-figures-list loadajax" id="top_items">
                        {% for key, item in data.top_items %}
                        <span>{{ key+1 }}. {{ item|e }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h3 class="text-center">Top 10 orders by revenue</h3>
                    <p class="text-center statistic-figures-list loadajax" id="top_orders">
                        {% for key, order in data.top_orders %}
                        <span>{{ key+1 }}. {{ order|e }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h3 class="text-center">Top 10 orders by item count</h3>
                    <p class="text-center statistic-figures-list loadajax" id="top_orders_item">
                        {% for key, item in data.top_orders_item %}
                        <span>{{ key+1 }}. {{ item|e }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Chart</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="chart" class="chart"><img src="img/loader.gif" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    chartData = {{ chart|raw }};
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['line', 'corechart']}]}"></script>
<script src="js/moment.min.js"></script>
<script src="js/bootstrap-datetimepicker.js"></script>
<script src="js/main.js"></script>
</body>
</html>